@import "./container.css";
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/***** Flex *****/ 
.flex, .nav.flex, .hero-content {
    display: flex;
}

.container.header.flex {
    height: 100%;
    justify-content: space-between;
    place-items: center;
}

.hero-content {
    flex-direction: column;
}

/***** Header *****/
header {
    height: 60px; 
    width: 100%;
    background: linear-gradient(90deg, rgb(15, 15, 15), rgb(50, 50, 50), rgb(15, 15, 15 ));
    color: rgb(255, 255, 255);
}

header h2 {
    font-family: "Parisienne", serif;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 1;
    transform: translateY(2px);
}

.container.header.flex nav {
    flex: 1;
}

.container.header.flex nav:last-of-type {
    display: flex;
    justify-content: flex-end;
}

.nav {
    list-style: none;
}

.nav li {
    padding: 16px 20px; 
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.nav li:hover {
    background-color: rgb(100, 100, 100);
}

.nav.right {
    gap: 8px;
}

.nav.right li {
    border-radius: 50px;
    padding: 12px 16px;
}

.nav.right li:hover {
    background-color: rgb(255, 187, 0);
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.nav.right a {
    font-size: 24px;
}

a.active {
    color: rgb(255, 187, 0);
}

.nav.right a.active:hover {
    color: white;
}

/***** Hero *****/

.hero {
    background: url(../media/street.jpg) center / cover no-repeat;
    height: calc(100svh - 60px);
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.66);
    height: calc(100svh - 60px);
    width: 100%;
    z-index: 1;
}

.hero-content {
    justify-content: center;
    place-items: center;
    gap: 50px;
    position: relative;
    z-index: 2;
}

input[type=text] {
    background-color: transparent;
    padding: 12px 36px;
    border-radius: 50px;
    border: 1px solid rgb(140, 140, 140);
    color: #fff;
    font-size: 18px;
}

input[type=text]:focus {
    border-color: #fff;
}

.hero-content button {
    background-color: rgb(140, 140, 140);
    color: #ffffff;
    border-radius: 5px;
    /* border: 1px solid #fff; */
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    padding: 8px 12px;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.25s ease-in-out;
}

.hero-content button:hover {
    background-color: rgb(255, 187, 0);
    color: #fff;
}

body {
    background: linear-gradient(180deg, rgb(15, 15, 15), rgb(50, 50, 50), rgb(15, 15, 15 ));
}